<?xml version="1.0" encoding="UTF-8"?>
<Config>
    <Version>EDS API-PHP Demo 1.6</Version>
    <EndPoints>
        <EndPoint>https://eds-api.ebscohost.com/edsapi/rest</EndPoint>
        <AuthenticationEndPoint>https://eds-api.ebscohost.com/Authservice/rest</AuthenticationEndPoint>                           
    </EndPoints>
    <AbstractLength>300</AbstractLength>
    <ClientCredentials>
        <User>
            <UserId>user1</UserId>
            <Password>user1pwd</Password>        
        </User>
    </ClientCredentials>
    <EDSCredentials>     
		<ClientUser>xxxxxx</ClientUser>
		<EDSUserID>xxxxxx</EDSUserID>
		<EDSPassword>xxxxxx</EDSPassword>
		<EDSProfile>xxxxxx</EDSProfile>
        <IPAuth>y</IPAuth>        
    </EDSCredentials>
	<ipaddresses>
		<ip>127.0.0.1</ip>
		<ip>192.168.1</ip>
		<ip>192.168.2.1</ip>
	</ipaddresses>
    <autocomplete>y</autocomplete>
</Config>
