<?xml version="1.0" encoding="UTF-8"?>
<Config>
    <Version>EDS API-PHP Demo 1.4</Version>
    <EndPoints>
        <EndPoint>http://eds-api.ebscohost.com/edsapi/rest</EndPoint>
        <AuthenticationEndPoint>https://eds-api.ebscohost.com/Authservice/rest</AuthenticationEndPoint>                           
    </EndPoints>
    <AbstractLength>300</AbstractLength>
    <ClientCredentials>
        <User>
            <UserId>insert client side profile</UserId>
            <Password>insert client side profile</Password>        
        </User>
    </ClientCredentials>
    
    <EDSCredentials>     
        <User>
            <ClientUser>guest</ClientUser>
            <EDSUserID>insert EDS credential</EDSUserID>
            <EDSPassword>insert EDS credential</EDSPassword>
            <EDSProfile>insert EDS credential</EDSProfile>           
        </User>
        <User>
            <ClientUser>Client Credential UserId</ClientUser>
            <EDSUserID>insert EDS credential</EDSUserID>
            <EDSPassword>insert EDS credential</EDSPassword>
            <EDSProfile>insert EDS credential</EDSProfile>           
        </User>       
    </EDSCredentials>
</Config>
